@model Tickets


<form method="post" asp-action="Delete">
      <input id="ticket_id" name="id" asp-for="Id" disabled hidden />
     <div class="border p-3 mt-4">
         <div class= row pb-2">
             <h2 class="text-primary">
                 Delete Ticket
             </h2>
             <hr />
         </div>

         <div asp-validation-summary="All"></div>
         <div class="mb-3">
             <label asp-for="TicketTitle"> </label>
             <input asp-for="TicketTitle" class="form-control" disabled />  
             <span asp-validation-for="TicketTitle" class="text-danger"></span>
         </div>
         
         <div class="mb-3">
             <label asp-for="Description"> </label>
             <input asp-for="Description" class="form-control"disabled />  
             <span asp-validation-for="Description" class="text-danger"></span>
         </div>
         <div class="mb-3">
             <label asp-for="Status"> </label>
             <input asp-for="Status"   class="form-control" disabled/>  
             <span asp-validation-for="Status" class="text-danger"></span>
         </div>
          <div class="mb-3">
             <label asp-for="Priority"> </label>
             <input asp-for="Priority" class="form-control" disabled/>  
             <span asp-validation-for="Priority" class="text-danger"></span>
         </div>
         <div class="mb-3">
             <label asp-for="Type"> </label>
             <input asp-for="Type"  class="form-control" disabled/>  
             <span asp-validation-for="Type" class="text-danger"></span>
         </div>
       
        
         <button type="submit"
             asp-route-projectId="@Model.ProjectId" 
             asp-route-ticketId="@Model.Id"  
             class="btn btn-primary" 
             style="width:150px">Delete
         </button>

          <a asp-controller="Tickets" asp-action="Index"  asp-route-id="@Model.ProjectId" class="btn btn-secondary" style="width:150px">
             Back to List
         </a>

     </div>
 </form>


         
@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}